/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
*.bak
*private*

.DS_Store
node_modules/
.sass-cache/
output/
resources/assets/*
!resources/assets/keybase.txt
