{:domain "pwalsh.me"
 :name "Paul Walsh"
 :image "http://s.gravatar.com/avatar/979074df9b79dcce98b78c20dfc2337b?s=240"
 :github "https://github.com/pwalsh"
 :twitter "https://twitter.com/_pwalsh"
 :keybase "https://keybase.io/pwalsh"
 :email "mailto:paul@walsh.co.il"
 :gpgkey "https://keybase.io/pwalsh/pgp_keys.asc"}
