{:domain "www.skeptycal.com"
 :name "Michael Treanor"
 :image "https://secure.gravatar.com/avatar/b939916e40df04f870b03e0b5cff4807"
 :github "https://github.com/skeptycal"
 :twitter "https://twitter.com/skeptycal"
 :keybase "https://keybase.io/skeptycal"
 :email "mailto:skeptycal@gmail.com"
 :gpgkey "https://keybase.io/skeptycal/pgp_keys.asc"}
